.board_list_wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.post > a {
    display: flex;
    gqp: 5px;
    padding: 10px;
    border: 1px solid var(--text1);
    border-radius: 10px;
    cursor: pointer;
}
.number {
    font-size: 15px;
    font-weight: 600;
    width: 5%
}
.posts {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 5px;
}
.posts > div:first-child {
    display: flex;
    gap: 10px;
}
.posts > div:first-child > p:first-child {
    font-size: 15px;
    font-weight: 800;
}
.posts > div:first-child > p:last-child > img {
    width: 15px;
    padding-top: 4px;
}
.posts > div:nth-child(2) {
    color: #5e5e5e;
}
.posts > div:nth-child(3) {
    display: flex;
    justify-content: end;
}
.posts > div:nth-child(3) > p {
    align-items: center;
    font-size: 12px;
}
.posts > div:nth-child(3) > p > img {
    width: 18px;
    margin: 2px 0 1px 0;
}
.likeCount {

}