.board_list_wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.post {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid var(--text1);
    border-radius: 10px;
    cursor: pointer;
}
.number {
    font-size: 16px;
    font-weight: 600;
    width: 10%
}
.posts > a {
    display: flex;
    justify-content: space-between;
}
.posts > a > div:first-child {
    display: flex;
    gap: 10px;
}
.posts > a > div:first-child > p:first-child {
    font-size: 15px;
    font-weight: 700;
}
.posts > a > div:first-child > p > img {
    width: 15px;
    padding-top: 4px;
}
.posts > a > div:nth-child(2) {
    color: #5e5e5e;
}
.posts > a > div:nth-child(3) {
    padding: 5px;
}
.posts > div:nth-child(2) {
    display: flex;
    justify-content: end;
}
.posts > div:nth-child(2) > p {
    align-items: center;
    font-size: 12px;
}
.posts > div:nth-child(2) > p > img {
    width: 18px;
    margin: 0 1px;
}