<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twotwo.matmatgotgot.domain.restaurant.mapper.RestaurantMapper">

    <insert id="restaurantCreate" useGeneratedKeys="true" keyProperty="restNo">
        INSERT INTO restaurant_tbl (member_no, rest_name, rest_addr, lat, lng, category, phone, hours, rest_content, rest_thumb, created_at)
        VALUES (#{memberNo}, #{restName}, #{restAddr}, #{lat}, #{lng}, #{category}, #{phone}, #{hours}, #{restContent}, #{restThumb}, current_timestamp())
    </insert>

    <select id="restaurantViewInfo" resultType="restViewResponse">
        SELECT
            r.rest_name,
            r.rest_addr,
            r.category,
            r.ai_review,
            r.rest_content,
            r.lat,
            r.lng,
            r.phone,
            r.hours,
            r.rating_sum,
            r.review_total_count,
            ROUND(r.rating_sum * 1.0 / NULLIF(r.review_total_count, 0), 1) AS rating_avg,
            EXISTS (
                SELECT 1
                FROM rest_like_tbl rl
                WHERE rl.rest_no = r.rest_no
                  AND rl.member_no = #{memberNo}
            ) AS is_like,

            EXISTS (
                SELECT 1
                FROM rest_report_tbl rr
                WHERE rr.rest_no = r.rest_no
                  AND rr.member_no = #{memberNo}
            ) AS is_report

        FROM restaurant_tbl r
        WHERE r.rest_no = #{restNo} AND r.rest_status = 'NORMAL'
    </select>

    <select id="getTags" resultType="String">
        SELECT t.name
        FROM restaurant_tags_tbl rt
            INNER JOIN tags_tbl t ON rt.tag_no = t.tag_no
        WHERE rt.rest_no = #{restNo}
    </select>

    <select id="getMenus" resultType="String">
        SELECT menu_name
        FROM review_menu_tbl
        WHERE review_no = (SELECT review_no
                           FROM review_tbl
                           WHERE rest_no = #{restNo}
        );
    </select>

    <select id="restaurantViewReviews" resultType="restReviewsResponse">
    SELECT
        r.review_no,
        m.member_name AS writer,
        m.member_thumb AS writer_thumb,
        r.rating,
        r.review_content,
        r.visit_date

    FROM review_tbl r
             INNER JOIN member_tbl m
                        ON r.member_no = m.member_no
    WHERE rest_no = #{restNo}
    ORDER BY r.visit_date DESC

        LIMIT #{size} OFFSET #{offset}
</select>

    <select id="getMenusByReviewNo" resultType="String">
        SELECT *
        FROM review_menu_tbl
        WHERE review_no = #{reviewNo}
    </select>

    <select id="restaurantViewReviewsCnt" resultType="int">
        SELECT COUNT(*)
        FROM review_tbl r
                 INNER JOIN member_tbl m
                            ON r.member_no = m.member_no
        WHERE rest_no = #{restNo}
        ORDER BY r.visit_date DESC
    </select>

</mapper>
