.tripMainWrap {
  width: 1160px;
  margin: 90px auto 0;
}

.tripMainWrap > div {
  margin-bottom: 20px;
}

.tripMainWrap .topSection {
  display: flex;
  gap: 20px;
  align-items: stretch;
}

.tripMainWrap .topSection .leftSection {
  width: 55%;
}

.leftSection .myCourseSection {
  margin-bottom: 20px;
}

.leftSection .myCourseContent {
  padding: 25px;
  position: relative;
  overflow: hidden;
}

.tripMainWrap .mapSection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tripMainWrap .mapSection .mapTitle {
  display: flex;
  justify-content: end;
  height: 35px;
  margin-bottom: 5px;
  font-size: 1.2em;
  gap: 10px;
}

.tripMainWrap .mapSection .mapTitle > div {
  align-content: center;
}

.tripMainWrap .mapSection .mapTitle > div:not(.mapTitleDivider) {
  cursor: pointer;
}

.tripMainWrap .mapSection .mapTitle .nonActiveMapTitle {
  color: color-mix(in srgb, var(--text1) 25%, transparent);
}

.tripMainWrap .mapSection .mapContainer {
  flex: 1;
}

.tripMainWrap .title .titleText,
.tripMainWrap .mapSection .mapTitle > div {
  font-weight: 600;
}

.tripMainWrap .title {
  display: flex;
  align-content: center;
  height: 35px;
  margin-bottom: 5px;
}

.tripMainWrap .title .titleIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 35px;
}

.tripMainWrap .title .titleIcon svg {
  transform: scale(1.15);
}

.tripMainWrap .title .titleIcon svg path {
  color: var(--text1);
}

.tripMainWrap .title .titleText {
  font-size: 1.2em;
  flex: 1;
  align-content: center;
}

.tripMainWrap .myCourseContent,
.tripMainWrap .myListContent,
.tripMainWrap .mapContainer,
.tripMainWrap .tasteRestaurantContent,
.tripMainWrap .howAboutHereContent {
  background-color: var(--gray8);
  border: 1px solid color-mix(in srgb, var(--text1) 25%, transparent);
  border-radius: 20px;
}
